<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
  <display-name>test</display-name>  
	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>    
    <filter>    
        <display-name>CharacterEncodingFilter</display-name>    
        <filter-name>CharacterEncodingFilter</filter-name>    
        <filter-class>com.lysoft.web.filter.CharacterEncodingFilter</filter-class>   	
    	<init-param>
      		<param-name>encoding</param-name>
     	 	<param-value>UTF-8</param-value>
    	</init-param>
    </filter>
    <filter-mapping>    
        <filter-name>CharacterEncodingFilter</filter-name>    
        <url-pattern>*.do</url-pattern>               
    </filter-mapping> 	
    <listener>
    	<listener-class>com.lysoft.web.listener.ApplicationLoadListener</listener-class>
    </listener>   
     <filter>    
        <display-name>Stripes Filter</display-name>    
        <filter-name>StripesFilter</filter-name>    
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
      		<param-name>ActionResolver.Packages</param-name>
      		<param-value>com.lysoft.business.web.aes.ui</param-value>
    	</init-param> 
    	<init-param>
            <param-name>ActionBeanContext.Class</param-name>
            <param-value>com.lysoft.business.web.aes.common.stripes.BaseActionBeanContext</param-value>
        </init-param>   	
    	<init-param>
      		<param-name>Extension.Packages</param-name>
      		<param-value>com.lysoft.business.web.aes.common.stripes.ext</param-value>
    	</init-param>
    	<init-param>
      		<param-name>ResourceBundles.BaseNames</param-name>
      		<param-value>messages.errors,messages.message</param-value>
    	</init-param>    	  
    </filter>    
    
    <filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.lysoft.web.filter.SecurityFilter</filter-class>
	</filter>
    
    <filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
    
    <filter-mapping>    
        <filter-name>StripesFilter</filter-name>    
        <url-pattern>*.jsp</url-pattern>    
        <dispatcher>REQUEST</dispatcher>    
 		<dispatcher>FORWARD</dispatcher>          
    </filter-mapping>    
         
    <filter-mapping>    
        <filter-name>StripesFilter</filter-name>    
        <servlet-name>StripesDispatcher</servlet-name>    
        <dispatcher>REQUEST</dispatcher>    
    </filter-mapping>    
         
    <servlet>    
        <servlet-name>StripesDispatcher</servlet-name>    
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet  
       </servlet-class>    
        <load-on-startup>1</load-on-startup>    
    </servlet>       
    
    <servlet-mapping>    
        <servlet-name>StripesDispatcher</servlet-name>    
        <url-pattern>*.do</url-pattern>    
    </servlet-mapping>  
    
    <servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>com.lysoft.business.web.aes.common.upload.UploadServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping> 
	
 	<error-page>
		<error-code>401</error-code>
		<location>/error/401.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>	
	<error-page>
		<error-code>405</error-code>
		<location>/error/405.jsp</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/error/406.jsp</location>
	</error-page>	
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>              
</web-app>